html {
    font-family: sans-serif;
scroll-behavior: smooth;
}
  @font-face {
    font-family: inter;
    src: url(inter.ttf);
  }
  .sold::before {
    content: "";
background: url("/web/20240128102621im_/https://www.scec.tech/sold.png") no-repeat;
background-size: 25px 25px; /* Adjust the size as needed */
display: inline-block; /* Ensures the pseudo-element has dimensions */
width: 25px; /* Adjust width if necessary */
height: 25px;
margin: 1px;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: inter;
  }
  .root {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    background-color: #f8f9ff;
  }
  header {
    background-color: #0A0A0A;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(bghead.png);
    overflow-y: hidden;
    color: white;
    flex-direction: column;
  }
  header nav {
    width: 80%;
    padding-top: 2%;
    font-size: 1.5rem;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
  }
  header nav .logo {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    list-style-type: none;
  }
  .pp ul {
    gap: 30px;
  }
  .pp ul li a{
    color: white;
    text-decoration: none;
  }
  nav ul {
    font-size: 1.15rem;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    gap: 40px;
  }
  nav .quote{
    color: #ff6a00ce;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }
  .hero {
    margin-top: 5%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 90%;
  }
  .hero .dots{
    position: absolute;
    width: 20%;
    opacity: 0.7;
    bottom: -10%;
    
  }
  .hero .info1{
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;

    width: 90%;
  }
  .hero .info1 .info{
    width: 40%;
    align-self: first baseline;
  }
  .hero .info1 .img{
    width: 50%;
  }
  .info1 .img img{
    width: 100%;
    border-radius: 5px;
    border: 3px solid #FF6B00;
    object-fit: contain;
  }

  button{
    cursor: pointer;
    font-size: 0.9rem;
  }
  nav button{
    padding: 8px 15px;
    animation: tilt-n-move-shaking 0.8s infinite ease-in-out;
    border: none;
    border-radius: 50px;
    background-color: #FF6B00;
    color: #ffffff;
  }
  nav button:hover{
    animation: none;
  }
  .info button{
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
    background-color: #FF6B00;
    color: #ffffff;
  }
  main{
    width: 100%;
  }
  section.detail{
    display: flex;
    padding: 5% 2%;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1%;
  }
  section.detail div.about{
    width: 32%;
  }
  section.detail div.about h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;
  }
  div.detail{
    align-items: center;
    width: 60%;
    display: flex;
  }
  div.detail h4{
    color: #FF6B00;
    margin: 3px;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .d1{
    text-align: center;
  }
  .d1 p{
    margin: 0;
    margin-top: 10px;
  }
  section.services{
    padding: 5% 8%;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: white;
    background-color: #0A0A0A;
  }
  section.services .about{
    width: 27%;
    transform: translateX(-30px);
  }
  section.services .about h3{
    font-size: 1.8rem;
    margin: 0;
  }
  section.services .card:hover{
    scale: 1.05;
    border-radius: 0;
    user-select: none;
    background: #FF6B00 !important;
    color: white !important;
  }
  section.services .card{
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    gap: 5%;
    color: black;
    aspect-ratio: 5/3;
    padding:15px;
  }
  section.services .card h4{
    margin-left: 5%;
  }
  .card.active{
    background: #FF6B00 !important;
    color: white !important;
  }
  .card *{
    margin: 0;
  }
  section.services .card img{
    width: 40px;
  }
  section.work{
    padding: 2% 5%;
  }
  section.work .w-card{
    flex-direction: column;
    width: 30%;
    display: flex;

  }
  .w-card b{
    color: #7a151586;
    margin: 0;
  }
  .w-list{
    margin-top: 3%;
    display: flex;
    gap: 5%;
    row-gap: 35px;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: center;
  }
  .w-list hr{
    margin: 30px 0;
  }
  .list a{
    color: white;
    text-decoration: none;
  }
  .w-card img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  .w-card .info{
    width: 90%;
  }
  .w-card .info h3{
    font-size: 1.36rem;
    font-weight: lighter;
    margin: 10px 0;
  }
  .w-card .info p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3;
           color: rgba(0, 0, 0, 0.55);
   -webkit-box-orient: vertical;
    font-size: 16px;
    margin: 5px 0;
  }
  .w-card .info a{
    color: #FF6B00;
    text-decoration: none;
    font-weight: bold;
  }
  .pp {
    margin: 20px 0;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .pp * {
    margin: 0;
  }
  .orange{
    color: #FF6B00;
  }
  footer {
    color: white;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    padding: 30px 0;
    padding-inline: 5%;
  }
  footer .logo {
    width: 40%;
  }
  footer nav {
    justify-content: space-between;
    display: flex;
    margin: 20px 5px;
  }
  footer nav .list {
    align-self: last baseline;
    display: flex;
    width: 50%;
    flex-direction: flex;
    justify-content: space-around;
  }

  #menu a{
    text-decoration: none ;
    color: white;
  }
  .hide{
    display: none;
  }
  @media (max-width: 650px) {
    nav .quote{
      display: none;
    }
    #menu a {
      width: 95%;
      color: black;
      
    }
    .hero {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      margin: 10px 10px;
    }
    header{
      height: fit-content;
    }
    header nav {
      align-items: center;
      justify-content: center;
      height: 60px;
      position: relative;
      width: 100%;
      z-index: 9;
    }
    header nav ul li {
      line-height: 1.5rem;
      width: 90%;
      padding: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    .item img {
      width: 20%;
    }
    header nav .logo {
      position: absolute;
      z-index: 99;
      align-items: center;
      top: 0;
      line-height: 60px;
      width: 80%;
    }
    header nav ul {
      display: none;
      align-items: center;
      padding: 20px 0;
      margin: 0;
      top: 60px;
      z-index: 1;
      gap: 5px;
      position: absolute;
      width: 100%;
      color: #262626;
      flex-direction: column;
      background-color: #f8f9ff;
    }
    footer nav {
      flex-direction: column;
      align-items: center;
    }
    footer nav {
      width: 90%;
    }
    footer nav .logo{
      width: 90%;
    }
    footer nav .list {
      flex-direction: column;
      gap: 10px;
      width: 95%;
    }
    nav .list a{
      width: 90%;
      font-size: 1.2rem;
      text-align: left;
    }
    footer .pp {
      align-items: center;
      font-size: 0.9rem;
      flex-direction: column;
    }
    .pp ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-left: 0;
      margin-top: 10px;
      font-size: 0.9rem;
    }
    #burger-menu {
      display: block !important;
    }
    #menu button{
      display: block;
    }
    section.work .w-card{
      width: 90%;
      flex-wrap: wrap;
    }
    .w-card img{
      width: 100%;
    }
    .w-card .info{
      width: 100%;
    }
    section.services{
      padding:10% 10%;
    }
    section.services .card{
      width: 100%;
      padding: 10px;
    }
    section.services .card:last-child{
      display: none;
    }
    section.services .about{
      width: 90%;
    }
    .hero .info1{
      flex-direction: column-reverse;
    }
    .hero .info1 .img{
      width: 100%;
    }
    .info1 .info{
      width: 100% !important;
    }
    section.detail{
      flex-direction: column;
      align-items: center;
    }
    section.detail div.detail{
      width: 90%;
      gap: 3%;
    }
    section.detail div.about{
      width: 90%;
    }
    button.big{
      display: none;
    }
    .contact-info{
      width: 90%;
    }
  }
  #burger-menu {
    display: none;
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    position: relative;
    z-index: 2;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #fff;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  @media (min-width: 651px) {
    header nav ul {
      display: flex !important;
    }
  }
  @keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }